{% extends "base.html" %}

{% block title %}
    Add Entry — {{ cosplay.title }}
{% endblock %}

{% block content %}

<h1>Add Entry for {{ cosplay.title }}</h1>
<div class="card">
<form method="post" enctype="multipart/form-data" class="form-narrow">
    {% csrf_token %}

    {{ form.as_p }}

    <label>Images</label>
    <input type="file" name="images" multiple>
</div>

    <button type="submit" class="button-primary">Post</button> | 
    <a href="{% url 'cosplay_detail' cosplay.id %}" ><button type="button" class="button-danger">Cancel</button></a>
</form>
{% endblock %}
