{% extends "base.html" %}
{% block content %}
<h1>{{ event.title }}</h1>

{% load static %}

{% if event.image %}
    <img src="{{ event.image.url }}" alt="Event image" height = "180" width = "auto">
{% else %}
    <img src="{% static 'community/images/no-image.jpg' %}" alt="Default event image" height = "180" width = "auto">
{% endif %}


<p>{{ event.description }}</p>
<p>{{ event.location }}</p>

{% if request.user.is_superuser or request.user == event.creator %}
    <a href="{% url 'event_edit' event.id %}">Edit</a>
    <form method="post" action="{% url 'event_delete' event.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endif %}
{% endblock %}
