{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="card">
<p>Event image:</p>
<div id="event-image-container">
<img
    id="event-image-preview"
    class="event-image"
    src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'community/images/default_event.png' %}{% endif %}"
    data-default-src="{% static 'community/images/default_event.png' %}"
    alt=""
>

</div>

    {% if event.image %}
    <button
        type="button"
        id="remove-event-image-btn"
        class="button-danger"
        onclick="previewClearEventImage()">
        Remove Event Image
    </button>
    {% endif %}




<form method="post" enctype="multipart/form-data" class="form-narrow">
    {% csrf_token %}
    {{ form.as_p }}
</div>
    <button type="submit" class="button-primary">Save</button> | 
    <button type="button" onclick="window.history.back()" class="button-danger">Cancel</button>
</form>


{% endblock %}
