{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="event-layout">
   
    <section class = "event-main">
        <div class="card">
<h1>{{ event.title }}</h1>
    
{% load static %}

<img
    id="event-image-preview"
    class="event-image"
    src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'community/images/default_event.png' %}{% endif %}"
    data-default-src="{% static 'community/images/default_event.png' %}"
    alt=""
>
    </section><div class="card">
    <section class="event-details">

<p>{{ event.description }}</p>
<p>{{ event.location }}</p>
{% if event.date %}
    <p>Date: {{ event.date }}
{% endif %}

{% if event.time %}
    <p>Time: {{ event.time }}
{% endif %}
    </div>
    </div></section>
{% if request.user.is_superuser or request.user == event.creator %}
    <p><a href="{% url 'event_edit' event.id %}"><button class="button-primary">Edit</button></a> | 

       <a href="{% url 'event_delete' event.id %}"> <button type="submit" class="button-danger">Delete</button></a>
{% endif %}


{% endblock %}
