{% extends "base.html" %}
{% block content %}
{% load static %}

<p>Event image:</p>
<div id="event-image-container">
<img
    id="event-image-preview"
    class="event-image"
    src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'community/images/default_event.png' %}{% endif %}"
    data-default-src="{% static 'community/images/default_event.png' %}"
    alt=""
>

</div>

<button type="button" class="button-danger" onclick="previewClearEventImage()">
    Remove Event Image
</button>



<form method="post" enctype="multipart/form-data" class="form-narrow">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button-primary">Save</button>
</form>
<p>
<button onclick="window.history.back()" class="button-danger">Cancel</button>
</p>
{% endblock %}
