{% extends "base.html" %}

{% block title %}Cosplay Hub{% endblock %}

{% block content %}
<h1>Welcome to Cosplay Hub</h1>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'profile_detail' user.username %}">
            Go to your profile
        </a>
    </p>
{% else %}
    <p>
        <a href="{% url 'login' %}"><button class="button-primary">Log in</button></a> or 
        <a href="{% url 'signup' %}" class="nav-link"><button class='button-primary'>Sign Up</button></a>
to get started.
    </p>
{% endif %}
{% endblock %}
