{% extends "base.html" %} {% block title %} {{ profile.display_name }} — Edit Profile
{% endblock %} {% block content %}

    <h1>Edit Profile</h1>
    {% load static %}
<p>Current profile picture:</p>
<div id="avatar-container">

    <img
    id="avatar-preview"
    class="avatar"
    src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'community/images/default_avatar.png' %}{% endif %}"
    data-default-src="{% static 'community/images/default_avatar.png' %}"
    alt=""
>
</div>


<form method="post"  class="form-narrow" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        {{ form.avatar.label_tag }}
        {{ form.avatar }} 
    </p>
    {% if profile.avatar %}
        <button type="button" class="button-danger" onclick="previewClearAvatar()">Remove Avatar</button>
    {% endif %}
   
    <p>
        {{ form.display_name.label_tag }}
        {{ form.display_name }}
    </p>

    <p>
        {{ form.bio.label_tag }}
        {{ form.bio }}
    </p>
    <p>
        {{ form.location.label_tag }}
        {{ form.location }}
    </p>


    <p>
        {{ form.experience_level.label_tag }}
        {{ form.experience_level }}
    </p>

    <p>
        {{ form.privacy.label_tag }}
        {{ form.privacy }}
    </p>

    <p>
        <strong>Profile Privacy</strong><br>
        Public profiles allow anyone to follow you immediately.<br>
        Private profiles require you to approve follow requests.
    </p>

    <button type="submit" class="button-primary">Save</button>


    <a href="{% url 'profile_detail' user.username %}"><button class="button-danger">Cancel<button></a>
</form>

{% endblock %}
