{% extends "base.html" %} {% block title %} {{ profile.display_name }} — Profile
{% endblock %} {% block content %}

<h1>{{ profile.display_name }}</h1>

{% if follow_status %}
    {% if follow_status == "not_following" %}
        <form method="post" action="{% url 'follow_user' profile_user.username %}">
            {% csrf_token %}
            <button type="submit">Follow</button>
        </form>

    {% elif follow_status == "pending" %}
        <p>Follow request pending</p>

    {% elif follow_status == "approved" %}
        <p>You are following this user</p>
    {% endif %}
{% endif %}


{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" style="max-width: 200px" />
{% endif %}

<p><strong>Experience:</strong> {{ profile.get_experience_level_display }}</p>
{% if request.user == profile_user %}
<p>
  <a href="{% url 'cosplay_create' %}" class="create-cosplay-link">
    + Create Cosplay
  </a>
</p>
{% endif %}

<h2>Cosplays</h2>

{% if cosplays %}
<ul>
  {% for cosplay in cosplays %}
  <li>
    <a href="{% url 'cosplay_detail' cosplay.id %}"> {{ cosplay.title }} </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No cosplays yet.</p>
{% endif %} {% endblock %}
